include ../partials/head.jade
include ../partials/footer.jade

doctype html5
html
  head
    +head()
    
  body.vanilla
    div.projectHeader
      h1.content-head Interdisciplinary Programming

    div.page-wrapper
      section.projectSection
        div.content-wrapper

          h1.content-head.projectHead= title
          div.tagWrap
            - for(var i=0; i<subjects.length; i++) {
              div.tag.subject
                i.fa.fa-flask
                label.tag= subjects[i]
            - }
            - for(i=0; i<languages.length; i++) {
              div.tag.language
                i.fa.fa-code
                label.tag= languages[i]
            - }
            - if(paid){
              div.tag.money
                i.fa.fa-dollar
                label.tag Paid Position 
            - } else {
              div.tag.money
                i.fa.fa-heart-o
                label.tag Volunteers Needed
            - }

          div.summaryWrap
            h2.content-head.briefTitle Project Brief
            div.projectLead 
              i.fa.fa-user
              label.altTag= lead
            div.institute 
              i.fa.fa-institution
              label.altTag= institute
            p.summaryText= summaryText
            h2.content-head.briefTitle Main Deliverables 
            ul.goals
              - for(i=0; i<goals.length; i++){
                li= goals[i]
              - }
            - if(repo)
              a.pure-button.projectLink(href= repo) Code
            - if(page)
              a.pure-button.projectLink(href= page) Project Page

          div.sidebar
            img.projectPic(src= imageName)
            a.pure-button.projectLink Get In Touch
            - if(moreInfo)
              h4 More Information
              - for(i=0; i<moreInfo.length; i++){
                a.infoLink(href= moreInfo[i].link)= moreInfo[i].title
              - }
    div.projectFooter
      div Interdisciplinary Programming
      div In partnership with <a href='http://mozillascience.org/'>Mozilla Science Lab</a>
      div Header picture credit <a href='http://www.flickr.com/photos/amylovesyah/4528869007/'>Amy Loves Yah</a>
