include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade

doctype html5
html
  head
    +head()
  body
    div.page-wrapper
      +header()

      section
        div

          h1.projectHead= title

          div.tagWrap
            - for(var i=0; i<subjects.length; i++) {
              div.tag.subject
                i.fa.fa-flask
                label.tag= subjects[i]
            - }
            - for(i=0; i<languages.length; i++) {
              div.tag.language
                i.fa.fa-code
                label.tag= languages[i]
            - }
            - if(paid){
              div.tag.money
                i.fa.fa-dollar
                label.tag Paid Position
            - } else {
              div.tag.money
                i.fa.fa-heart-o
                label.tag Volunteers Needed
            - }

          div
            h2.briefTitle Project Brief
            div.projectLead
              i.fa.fa-user
              label.altTag= lead
            div.institute
              i.fa.fa-institution
              label.altTag= institute
            h3.briefTitle Who We Are
            p.summaryText= who
            h3.breifTitle What We're Doing
            p.summaryText= what
            h2.briefTitle Main Deliverables
            ul.goals
              - for(i=0; i<goals.length; i++){
                li!= goals[i]
              - }
            - if(repo)
              a.pure-button.projectLink(href= repo) Code
            - if(page)
              a.pure-button.projectLink(href= page) Project Page

          div
            img.projectPic(src= imageName)
            a.pure-button.projectLink(href='/contact') Get In Touch
            - if(moreInfo)
              h4 More Information
              - for(i=0; i<moreInfo.length; i++){
                a.infoLink(href= moreInfo[i].link)= moreInfo[i].title
              - }

    +footer()
