include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade

doctype html5
html
  head
    +head()
  body
    div.page-wrapper
      +header()

      section.project
        div
          a.pure-button.projectLink(href= "/") &larr; &nbsp; Back to Project List
          h1= title
          p
            i= subjects.join(', ')

          div.pure-u-1.pure-u-med-1-4
            div.crop
              img(src= imageName)
            h3 PARTICIPANTS
            - if(moreInfo)
              h3 MORE INFORMATION
              ul.infolink
                - for(i=0; i<moreInfo.length; i++){
                  li
                    a(href= moreInfo[i].link)= moreInfo[i].title
                - }
          div.pure-u-med-3-4
            div.pure-u-1.pure-u-lrg-1-3
                i.fa.fa-user
                label= lead
            div.pure-u-1.pure-u-lrg-1-3
                i.fa.fa-map-marker
                label= institute
            div.pure-u-1.pure-u-lrg-1-3
                i.fa.fa-circle.text-success
                label Active Project
            div.pure-u-1
              p
                small= 'Tags: ' + languages.join(', ')
            //div.pure-u-1
              h4 Who We Are
              p.summaryText= who
              h4 What We're Doing
              p.summaryText= what
              h4 Main Deliverables
              ul.goals
                - for(i=0; i<goals.length; i++){
                  li!= goals[i]
                - }
            div.pure-u-1
              p.summary= summaryText

            div.project-links
              - if(page)
                a.pure-button.projectLink(href= page) Website
              - if(repo)
                a.pure-button.projectLink(href= repo) Go to the Repo
            div.pure-u-1
              h3 REPO PREVIEW



    +footer()
