mixin userStub(name, uniqueID, hasContacted, isScientist, isDeveloper, language, discipline, decription, uniqueID)
  div.userStub
    h3= name
    - if(hasContacted.indexOf(uniqueID+'') != -1 )
      div You have already contacted this user.
    form(method='get', action='viewProfile').pure-form
      button(value=uniqueID, name='uniqueID').pure-button View Profile
    label Profession:
    if isScientist
      div Scientist
    if isDeveloper
      div Developer
    label Languages:
    if language
      ul
        each elt in language
          li= elt
    if discipline
      label Disciplines:
      ul
        each elt in discipline
          li= elt
    label Projects & Interests:
    p= descirption