doctype html5
html

  head
    include mixins.jade

  body
    +internalHeader('User Profile')

    h1 #{user.uName} Profile

    form(method='get', action='contactUser')
      button(value=user.uName, name='username') Contact #{user.uName}

    p= user.uName
    p= user.discipline
    p= user.language