doctype html5
html
  head

  body
    h1 Search Results

    form(method='get', action='userMatches')
      input(type='submit', value='My Matches')

    form(method='get', action='userProfile')
      input(type='submit', value='My Profile')

    form(method='get', action='userSearch')
      input(type='submit', value='Search')

    - for(var i=page*10; i<Math.min(searchResults.length, (page+1)*10); i++) {
      h3= searchResults[i].uName
      if searchResults[i].scientist
        div Scientist
      if searchResults[i].developer
        div Developer
      div= searchResults[i].language
      div= searchResults[i].discipline
    - }

    - if(searchResults.length == 0) {
        p No matches... YET
    - } 

    - for(var j=0; j<Math.ceil(searchResults.length/10); j++ ){
      a(href='/searchResults?page='+#{j}) #{j}
    - }
