doctype html5
html
  head

  body
    h1= user.uName

    form(method='post' action='recordUpdate')
      if user.scientist
        label What is your discipline?
        br
        - for(var i=0; i<disciplines.length; i++){
          input(type='checkbox', name='discipline[]', value=disciplines[i])
          br
        - }
        br

        label What language would you like to work in?
        br
        - for(i=0; i<languages.length; i++){
          input(type='checkbox', name='language[]', value=languages[i])
          br
        - }
        br

      if user.developer
        label What languages are you comfortable with?
        br
        - for(i=0; i<languages.length; i++){
          input(type='checkbox', name='language[]', value=languages[i])
          br
        - }
        br

        label What sciences interest you?
        br
        - for(var i=0; i<disciplines.length; i++){
          input(type='checkbox', name='discipline[]', value=disciplines[i])
          br
        - }
        br

      label email
      input(type='email', name='email')

      input(type='submit', value='Update Profile')