doctype html5
html
  head

  body
    h1= user.email

    form(method='post' action='recordUpdate')
      if user.scientist
        if disciplineError
          p= disciplineError
        label What is your discipline?
        br
        - for(var i=0; i<disciplines.length; i++){
          if user.discipline
            - var check = user.discipline.indexOf( disciplines[i] ) == -1 ? false : true
          else
            - var check = false
          input(type='checkbox', name='discipline[]', value=disciplines[i] checked = check)
          label= disciplines[i]
          br
        - }
        br

        if languageError
          p= languageError
        label What language would you like to work in?
        br
        - for(i=0; i<languages.length; i++){
          if user.language
            - var check = user.language.indexOf( languages[i] ) == -1 ? false : true
          else
            - var check = false
          input(type='checkbox', name='language[]', value=languages[i], checked = check)
          label= languages[i]
          br
        - }
        br

      if user.developer
        if languageError
          p= languageError
        label What languages are you comfortable with?
        br
        - for(i=0; i<languages.length; i++){
          if user.language
            - var check = user.language.indexOf( languages[i] ) == -1 ? false : true
          else
            - var check = false
          input(type='checkbox', name='language[]', value=languages[i], checked = check)
          label= languages[i]
          br
        - }
        br

        if disciplineError
          p= disciplineError
        label What sciences interest you?
        br
        - for(var i=0; i<disciplines.length; i++){
          if user.discipline
            - var check = user.discipline.indexOf( disciplines[i] ) == -1 ? false : true
          else
            - var check = false
          input(type='checkbox', name='discipline[]', value=disciplines[i] checked = check)
          label= disciplines[i]
          br
        - }
        br

      label user name
      input(type='text', name='uName' value=user.uName)

      input(type='submit', value='Update Profile')