doctype html5
html

  head

  body
    h1 My Profile

    form(method='get', action='userMatches')
      input(type='submit', value='My Matches')

    form(method='get', action='userProfile')
      input(type='submit', value='My Profile')

    form(method='get', action='userSearch')
      input(type='submit', value='Search')

    form(method='post' action='recordUpdate')
      if user.scientist
        label What is your discipline?
        br
        input(type='checkbox', name='discipline[]', value='Divination', checked=user.Divination===true)
        label Divination
        br
        input(type='checkbox', name='discipline[]', value='Evokation', checked=user.Evokation===true)
        label Evokation
        br
        input(type='checkbox', name='discipline[]', value='Necromancy', checked=user.Necromancy===true)
        label Necromancy
        br
        br

        label What language would you like to work in?
        br
        input(type='checkbox', name='language[]', value='Haskell', checked=user.Haskell===true)
        label Haskell
        br
        input(type='checkbox', name='language[]', value='Visual BASIC', checked=user.VisualBASIC===true)
        label Visual BASIC
        br
        input(type='checkbox', name='language[]', value='Jade', checked=user.Jade===true)
        label Jade
        br

      if user.developer
        label What languages are you comfortable with?
        br
        input(type='checkbox', name='language[]', value='Haskell', checked=user.Haskell===true)
        label Haskell
        br
        input(type='checkbox', name='language[]', value='Visual BASIC', checked=user.VisualBASIC===true)
        label Visual BASIC
        br
        input(type='checkbox', name='language[]', value='Jade', checked=user.Jade===true)
        label Jade
        br
        br

        label What sciences interest you?
        br
        input(type='checkbox', name='discipline[]', value='Divination', checked=user.Divination===true)
        label Divination
        br
        input(type='checkbox', name='discipline[]', value='Evokation', checked=user.Evokation===true)
        label Evokation
        br
        input(type='checkbox', name='discipline[]', value='Necromancy', checked=user.Necromancy===true)
        label Necromancy
        br

      input(type='submit', value='Update Profile')

    form(method='post', action='changePasswordForm')
      input(type='submit', value='Change Password')

    form(method='get', action='logout')
      input(type='submit', value='Logout')

    form(method='post', action='deleteProfile')
      input(type='submit', value='Delete My Profile')
