doctype html5
html
  head

  body
    h1 My Matches

    form(method='get', action='userMatches')
      button(value=0, name='page') My Matches

    form(method='get', action='userProfile')
      input(type='submit', value='My Profile')

    form(method='get', action='userSearch')
      input(type='submit', value='Search')


    - for(var i=page*10; i<Math.min(match.length, (page+1)*10); i++) {
      h3= match[i].uName
      - if(hasContacted.indexOf(match[i].uName) != -1 )
        div You have already contacted this user.
      form(method='get', action='viewProfile')
        button(value=match[i].uName, name='userID') View Profile
      div= match[i].language
      div= match[i].discipline
    - }

    - if(match.length == 0) {
        p No matches... YET
    - } 

    -if(match.length > 10)
      h3 more matches
      - for(var j=0; j<Math.ceil(match.length/10); j++ ){
        a(href='/userMatches?page='+j) Page #{j}
      - }
