doctype html5
html
  head
    include views/internalHeader.jade

  body
    +internalHeader()

    - for(var i=page*10; i<Math.min(match.length, (page+1)*10); i++) {
      h3= match[i].uName
      - if(hasContacted.indexOf(match[i].uName) != -1 )
        div You have already contacted this user.
      form(method='get', action='viewProfile')
        button(value=match[i].uName, name='userID') View Profile
      div= match[i].language
      div= match[i].discipline
    - }

    - if(match.length == 0) {
        p No matches... YET
    - } 

    -if(match.length > 10)
      h3 more matches
      - for(var j=0; j<Math.ceil(match.length/10); j++ ){
        a(href='/userMatches?page='+j) Page #{j}
      - }
