doctype html5
html
  head

  body
    h1 Search

    form(method='get', action='userMatches')
      button(value=0, name='page') My Matches

    form(method='get', action='userProfile')
      input(type='submit', value='My Profile')

    form(method='get', action='userSearch')
      input(type='submit', value='Search')

    form(method='post', action='search')
      label Profession
      input(type='radio', name='profession', value='scientist' required)
      label Scientist
      br
      input(type='radio', name='profession', value='developer' required)
      label Developer
      br
      br

      label Discipline
      br
      - for(var i=0; i<disciplines.length; i++){
        - var check = user.discipline.indexOf( disciplines[i] ) == -1 ? false : true
        input(type='checkbox', name='discipline[]', value=disciplines[i], checked=check )
        label= disciplines[i]
        br
      - }
      br
      br

      label Language
      br
      - for(i=0; i<languages.length; i++){
        - var check = user.language.indexOf( languages[i] ) == -1 ? false : true
        input(type='checkbox', name='language[]', value=languages[i], checked=check )
        label= languages[i]
        br
      - }
      br
      br

      input(type='submit', value='Search Users')
