include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade
include ../partials/internalHeader.jade

doctype html5
html
  head
    +head()
    
  body.vanilla
    div.page-wrapper
      +header(true)
      
      section
        div.content-wrapper
          +internalHeader('User Profile')

          h1 #{user.uName}'s Profile

          form(method='get', action='contactUser').pure-form
            button(value=user._id, name='uniqueID').pure-button.pure-button-primary Contact #{user.uName}

          label Disciplines:
          p= user.discipline
          label Languages:
          p= user.language
          label Project Description:
          p= user.description

      +footer()
