include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade
include ../partials/internalHeader.jade

doctype html5
html
  head
    +head()
    
  body.vanilla
    div.page-wrapper
      +header()
      
      section
        div.content-wrapper
          +internalHeader('User Profile')

          h1 #{user.uName} Profile

          form(method='get', action='contactUser').pure-form
            button(value=user.uName, name='username').pure-button.pure-button-primary Contact #{user.uName}

          p= user.uName
          p= user.discipline
          p= user.language

      +footer()
