include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade

doctype html5
html
  head
    +head()
    
  body.vanilla
    div.page-wrapper
      +header(loggedIn)
      
      section
        div.content-wrapper

          h1 #{user.uName}'s Profile

          if(loggedIn)
            form(method='get', action='contactUser').pure-form
              button(value=user._id, name='uniqueID').pure-button.pure-button-primary Contact #{user.uName}

          label Disciplines:
          p= user.discipline
          label Languages:
          p= user.language
          label Project Description:
          p= user.description

          label#linkTitle Notable Links
          ul
            - for(i=0; i<user.linkDescription.length; i++){
                li
                  a(href=user.link[i])= user.linkDescription[i]
            - }          

      +footer()
