include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade

doctype html5
html
  head
    +head()
    
  body.vanilla
    div.page-wrapper
      +header(loggedIn)
      
      section
        div.content-wrapper

          h1= user.uName

          form(method='post' action='updateUser' onsubmit='return profileValidation()').pure-form.pure-form-stacked
            fieldset

              label *Required Field

              label *What is your profession? 
              label(for='science').pure-radio= 'Scientist'
                input(id='science' type='radio' name='profession' value='scientist' onclick='manageUserForm()' checked = user.scientist)
              label(for='software').pure-radio= 'Developer'
                input(id='software' type='radio' name='profession' value='developer' onclick='manageUserForm()' checked = user.developer)

            
              p(id='disciplineError', class="error") Please choose at least one discipline.
              label#disciplineText *What is your discipline?
              
              - for(var i=0; i<disciplines.length; i++){
                - var check = user.discipline.indexOf( disciplines[i] ) == -1 ? false : true
                label(for=disciplines[i]).pure-checkbox= disciplines[i]
                   input(type='checkbox', name='discipline[]', value=disciplines[i], id=disciplines[i], checked=check )
              - }
              label(for='otherDisc').pure-checkbox= 'Other Discipline'
                input(type='text', name='otherDisc', id='otherDisc', value=user.otherDisc)

              p(id='languageError', class="error") Please choose at least one language.
              label#languageText *What language would you like to work in?
              
              - for(i=0; i<languages.length; i++){
                - var check = user.language.indexOf( languages[i] ) == -1 ? false : true
                label(for=languages[i]).pure-checkbox= languages[i]
                  input(type='checkbox', name='language[]', value=languages[i], id=languages[i], checked=check )
              - }
              label(for='otherLang').pure-checkbox= 'Other Language'
                input(type='text', name='otherLang', id='otherLang', value=user.otherLang)               

              p(id='affiliationError', class="error") Please choose at least one affiliation.
              label#affiliation *What sort of organization are you affiliated with?  Check all that apply.
              - for(i = 0; i < affiliations.length; i++){
                if user.affiliation
                  - var check = user.affiliation.indexOf( affiliations[i] ) == -1 ? false : true
                else
                  - var check = false
                label(for=affiliations[i]).pure-checkbox
                  span= affiliations[i]
                  input(type = 'checkbox', name = 'affiliation[]', value = affiliations[i], id = affiliations[i], checked = check)
              - }

              label#isPaid *Are you currently offering any paid positions for developers?
              label(for = 'yesPaid').pure-radio
                span#yesPaid Yes we are!
                input(type = 'radio', name = 'isPaid', value = 'yes', id = 'yesPaid', checked = user.isPaid)
              label(for = 'noPaid').pure-radio
                span#noPaid Not at this time.
                input(type = 'radio', name = 'isPaid', value = 'no', id = 'noPaid', checked = !user.isPaid)

              label *email
              if emailError
                p(id ='emailError', class="error") That email address is already taken.
              input(type='email', name='email', value=user.email required)

              label#projectDescription *Tell us about your project!
              textarea(name='projectDescription' cols=50 rows=15 required)= user.description 

              label#linkTitle Any links to papers, projects or repos you'd like to show off?
              - for(i=0; i<user.linkDescription.length; i++){
                  label Link:
                  input(type='text', name='linkDescription[]', placeholder='Description', value=user.linkDescription[i])
                  input(type='url', name='link[]', placeholder='URL', value=user.link[i], onchange='tweakURL.bind(this)()')
              - }
              input(type='button', id='addURL' onclick='appendURL()' value='Add Another Link').pure-button

              input(type='submit', value='Update Profile').pure-button.pure-button-primary

          form(method='get', action='changePasswordForm').pure-form
            input(type='submit', value='Change Password').pure-button

          a(href='/requestDeleteProfile').pure-button Delete My Profile


      +footer()

    script(src="static/formHandler.js", onload='manageUserForm()')