include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade
include ../partials/internalHeader.jade

doctype html5
html
  head
    +head()
    
  body.vanilla
    div.page-wrapper
      +header(true)
      
      section
        div.content-wrapper
          +internalHeader()

          h1= user.uName

          form(method='post' action='updateUser').pure-form.pure-form-stacked
            fieldset

              label What is your profession? 
              label(for='science').pure-radio= 'Scientist'
                input(id='science' type='radio' name='profession' value='scientist' onclick='manageUserForm()' checked = user.scientist)
              label(for='software').pure-radio= 'Developer'
                input(id='software' type='radio' name='profession' value='developer' onclick='manageUserForm()' checked = user.developer)

              if user.scientist
                if disciplineError
                  p.error= disciplineError
                label#disciplineText What is your discipline?
                
                - for(var i=0; i<disciplines.length; i++){
                  - var check = user.discipline.indexOf( disciplines[i] ) == -1 ? false : true
                  label(for=disciplines[i]).pure-checkbox= disciplines[i]
                     input(type='checkbox', name='discipline[]', value=disciplines[i], id=disciplines[i], checked=check )
                - }
                label(for='otherDisc').pure-checkbox= 'Other Discipline'
                  input(type='text', name='otherDisc', id='otherDisc', value=user.otherDisc)

                if languageError
                  p.error= languageError
                label#languageText What language would you like to work in?
                
                - for(i=0; i<languages.length; i++){
                  - var check = user.language.indexOf( languages[i] ) == -1 ? false : true
                  label(for=languages[i]).pure-checkbox= languages[i]
                    input(type='checkbox', name='language[]', value=languages[i], id=languages[i], checked=check )
                - }
                label(for='otherLang').pure-checkbox= 'Other Language'
                  input(type='text', name='otherLang', id='otherLang', value=user.otherLang)
                


              if user.developer
                if languageError
                  p= languageError
                label#languageText What languages are you comfortable with?
                
                - for(i=0; i<languages.length; i++){
                  - var check = user.language.indexOf( languages[i] ) == -1 ? false : true
                  label(for=languages[i]).pure-checkbox= languages[i]
                    input(type='checkbox', name='language[]', value=languages[i], id=languages[i], checked=check )
                - }
                label(for='otherLang').pure-checkbox= 'Other Language'
                  input(type='text', name='otherLang', id='otherLang', value=user.otherLang)                

                if disciplineError
                  p= disciplineError
                label#disciplineText What sciences interest you?
                
                - for(i=0; i<disciplines.length; i++){
                  - var check = user.discipline.indexOf( disciplines[i] ) == -1 ? false : true
                  label(for=disciplines[i]).pure-checkbox= disciplines[i]
                    input(type='checkbox', name='discipline[]', value=disciplines[i], id=disciplines[i], checked=check )
                - }
                label(for='otherDisc').pure-checkbox= 'Other Discipline'
                  input(type='text', name='otherDisc', id='otherDisc', value=user.otherDisc)
                
              label email
              if emailError
                p.errorBanner= emailError
              input(type='email', name='email', value=user.email required)

              label#projectDescription Tell us about your project!
              textarea(name='projectDescription' cols=50 rows=15 required)= user.description 

              label#linkTitle Any links to papers, projects or repos you'd like to show off?
              - for(i=0; i<user.linkDescription.length; i++){
                  label Link:
                  input(type='text', name='linkDescription[]', placeholder='Description', value=user.linkDescription[i])
                  input(type='url', name='link[]', placeholder='URL', value=user.link[i])
              - }
              input(type='button', id='addURL' onclick='appendURL()' value='Add Another Link').pure-button

              input(type='submit', value='Update Profile').pure-button.pure-button-primary

          form(method='get', action='changePasswordForm').pure-form
            input(type='submit', value='Change Password').pure-button

          a(href='/requestDeleteProfile').pure-button Delete My Profile


      +footer()

    script(src="static/formHandler.js")