include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade

doctype html5
html
  head
    +head() 
  body.vanilla  
    div.page-wrapper
      +header()
      section
        div.content-wrapper
          div.content
            h2 Register
            p= registerMessage
            form(method='post', action='/regUser', onsubmit='return signupValidation()').pure-form.pure-form-stacked
              fieldset
                div#credentials

                  label E-mail
                  if emailError
                    p(id ='emailError') That email address is already taken.
                  if email
                    input(type ='email' name ='email' value = email required)
                  else
                    input(type = 'email' name = 'email' required)

                  p(id = 'passError') Passwords don't match!

                  label Display Name
                  input(type='text', name='uName' value=user.name required)

                  label Password
                  input(id = 'pass' type = 'password' name = 'pass')

                  label Verify Password
                  input(id = 'repass' type = 'password' name = 'repass')

                div#profession
                  h3 Are you a Scientist or a Developer?

                  - var scientist = user.profession == 'scientist'
                  - var developer = user.profession == 'developer' 

                  label(for = 'science').pure-radio
                    span Scientist
                    input(id = 'science' type='radio' name='profession' value = 'scientist' onclick = 'manageUserForm()' checked = scientist)

                  label(for = 'software').pure-radio
                    span Developer
                    input(id = 'software' type='radio' name='profession' value = 'developer' onclick = 'manageUserForm()' checked = developer)

                - var opacity = (scientist || developer) ? 'opacity: 1; max-height:10000px' : ''
                div#registrationDetails(style = opacity)
                  p(id = 'disciplineError') Please choose at least one discipline.
                  label#disciplineText What is your discipline?
                  - for(var i = 0; i < disciplines.length; i++){
                    if user.discipline
                      - var check = user.discipline.indexOf( disciplines[i] ) == -1 ? false : true
                    else
                      - var check = false
                    label(for = disciplines[i]).pure-checkbox
                      span= disciplines[i]
                      input(type='checkbox', name='discipline[]', value=disciplines[i], id=disciplines[i] checked = check)
                  - }
                  label(for='otherDisc').pure-checkbox= 'Other Discipline'
                    input(type='text', name='otherDisc', id='otherDisc')

                  p(id='languageError') Please choose at least one language.
                  label#languageText What language would you like to work in?
                  - for(i = 0; i < languages.length; i++){
                    if user.language
                      - var check = user.language.indexOf( languages[i] ) == -1 ? false : true
                    else
                      - var check = false
                    label(for=languages[i]).pure-checkbox
                      span= languages[i]
                      input(type='checkbox', name='language[]', value=languages[i], id=languages[i], checked = check)
                  - }
                  label(for='otherLang').pure-checkbox= 'Other Language'
                    input(type='text', name='otherLang', id='otherLang')

                  label#projectDescription Tell us a bit about your project!
                  textarea(name='projectDescription' required)

                  label#linkTitle Any links to papers, projects or repos you'd like to show off?
                  label Link:
                  input(type='text', name='linkDescription[]', placeholder='Description')
                  input(type='url', name='link[]', placeholder='URL')
                  input(type='button', id='addURL' onclick='appendURL()' value='Add Another Link').pure-button

                  input(type='submit', value='Create Profile').pure-button.pure-button-primary


      +footer()

    script(src="static/formHandler.js")