include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade

doctype html5
html
  head
    +head() 
  body.vanilla  
    div.page-wrapper
      +header(loggedIn)
      section
        div.content-wrapper
          div.content
            h2 Register
            p= registerMessage
            form(method='post', action='/regUser', onsubmit='return signupValidation()').pure-form.pure-form-stacked
              fieldset
                label *Required Field

                div#credentials
                  if emailError
                    p(id ='emailError', class="error") That email address is already taken.
                  label *E-mail
                  if email
                    input(type ='email' name ='email' value = email required)
                  else
                    input(type = 'email' name = 'email' required)

                  p(id = 'passError') Passwords don't match!

                  if uNameError
                    p(id ='uNameError', class="error") That user name is already taken.
                  label *Display Name
                  input(type='text', name='uName' value=user.name required)

                  label *Password
                  input(id = 'pass' type = 'password' name = 'pass')

                  label *Verify Password
                  input(id = 'repass' type = 'password' name = 'repass')

                div#profession
                  h3 *Are you a Scientist or a Developer?

                  - var scientist = user.profession == 'scientist'
                  - var developer = user.profession == 'developer' 

                  label(for = 'science').pure-radio
                    span Scientist
                    input(id = 'science' type='radio' name='profession' value = 'scientist' onclick = 'manageUserForm()' checked = scientist)

                  label(for = 'software').pure-radio
                    span Developer
                    input(id = 'software' type='radio' name='profession' value = 'developer' onclick = 'manageUserForm()' checked = developer)

                - var opacity = (scientist || developer) ? 'opacity: 1; max-height:10000px' : ''
                div#registrationDetails(style = opacity)
                  p(id = 'disciplineError', class="error") Please choose at least one discipline.
                  label#disciplineText *What is your discipline?
                  - for(var i = 0; i < disciplines.length; i++){
                    if user.discipline
                      - var check = user.discipline.indexOf( disciplines[i] ) == -1 ? false : true
                    else
                      - var check = false
                    label(for = disciplines[i]).pure-checkbox
                      span= disciplines[i]
                      input(type='checkbox', name='discipline[]', value=disciplines[i], id=disciplines[i] checked = check)
                  - }
                  if user.otherDisc
                    - var otherDisc = user.otherDisc
                  else
                    - var otherDisc = ''
                  label(for='otherDisc').pure-checkbox= 'Other Discipline'
                    input(type='text', name='otherDisc', id='otherDisc', value=otherDisc)

                  p(id='languageError', class="error") Please choose at least one language.
                  label#languageText *What language would you like to work in?
                  - for(i = 0; i < languages.length; i++){
                    if user.language
                      - var check = user.language.indexOf( languages[i] ) == -1 ? false : true
                    else
                      - var check = false
                    label(for=languages[i]).pure-checkbox
                      span= languages[i]
                      input(type='checkbox', name='language[]', value=languages[i], id=languages[i], checked = check)
                  - }
                  if user.otherLang
                    - var otherLang = user.otherLang
                  else
                    - var otherLang = ''
                  label(for='otherLang').pure-checkbox= 'Other Language'
                    input(type='text', name='otherLang', id='otherLang', value=otherLang)

                  p(id='affiliationError', class="error") Please choose at least one affiliation.
                  label#affiliation *What sort of organization are you affiliated with?  Check all that apply.
                  - for(i = 0; i < affiliations.length; i++){
                    if user.affiliation
                      - var check = user.affiliation.indexOf( affiliations[i] ) == -1 ? false : true
                    else
                      - var check = false
                    label(for=affiliations[i]).pure-checkbox
                      span= affiliations[i]
                      input(type = 'checkbox', name = 'affiliation[]', value = affiliations[i], id = affiliations[i], checked = check)
                  - }
                  
                  label#isPaid *Are you currently offering any paid positions for developers?
                  label(for = 'yesPaid').pure-radio
                    span Yes we are!
                    input(type = 'radio', name = 'isPaid', value = 'yes', id = 'yesPaid', checked = true)
                  label(for = 'noPaid').pure-radio
                    span Not at this time.
                    input(type = 'radio', name = 'isPaid', value = 'no', id = 'noPaid')

                  if user.projectDescription
                    - var description = user.projectDescription
                  else
                    - var description = ''
                  label#projectDescription *Tell us a bit about your project!
                  textarea(id = 'projectDescription' name = 'projectDescription' required)= description

                  label#linkTitle Any links to papers, projects or repos you'd like to show off?
                  label Link:
                  if user.linkDescription
                    - var linkDescription = user.linkDescription
                    - var link = user.link
                  else
                    - var linkDescription = ['']
                    - var link = ['']
                  - for(i = 0; i < linkDescription.length; i++){
                    input(type = 'text', name = 'linkDescription[]', placeholder = 'Description', value = linkDescription[i])
                    input(type = 'url', name = 'link[]', placeholder = 'URL', value = link[i], onchange = 'tweakURL.bind(this)()')
                  - }
                  input(type='button', id='addURL' onclick='appendURL()' value='Add Another Link').pure-button

                  label#TOS *By checking this box, I agree to the Interdisciplinary Programming Terms Of Service
                  label(for = 'agreeToTerms').pure-checkbox
                    span I agree.
                    input(type = 'checkbox', name = 'agreeToTerms', value = 'agreeToTerms', id = 'agreeToTerms' required)

                  input(type='submit', value='Create Profile').pure-button.pure-button-primary


      +footer()

    script(src="static/formHandler.js")