include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade

doctype html5
html
  head
    +head() 
  body.vanilla  
    div.page-wrapper
      +header()
      section
        div.content-wrapper
          div.content
            h2 Register
            p= registerMessage
            form(method='post', action='/regUser', onsubmit='return signupValidation()').pure-form.pure-form-stacked
              fieldset

                div#credentials
                  label E-mail
                  input(type='email' name='email' required)
                  p(id='passError') Passwords don't match!
                  label Pass
                  input(id='pass' type='password' name='pass')
                  label Re-Pass
                  input(id='repass' type='password' name='repass')

                div#profession
                  h3 Are you a Scientist or a Developer?
                  label(for='science').pure-radio= 'Scientist'
                    input(id='science' type='radio' name='profession' value='scientist' onclick='manageSignupForm()')
                  label(for='software').pure-radio= 'Developer'
                    input(id='software' type='radio' name='profession' value='developer' onclick='manageSignupForm()')

                div#registrationDetails
                  p(id='disciplineError') Please choose at least one discipline.
                  label#disciplineText What is your discipline?
                  - for(var i=0; i<disciplines.length; i++){
                    //if user.discipline
                    //  - var check = user.discipline.indexOf( disciplines[i] ) == -1 ? false : true
                    //else
                    //  - var check = false
                    - var check = false
                    label(for=disciplines[i]).pure-checkbox= disciplines[i]
                      input(type='checkbox', name='discipline[]', value=disciplines[i], id=disciplines[i] checked = check)
                  - }

                  p(id='languageError') Please choose at least one language.
                  label#languageText What language would you like to work in?
                  - for(i=0; i<languages.length; i++){
                    //if user.language
                    //  - var check = user.language.indexOf( languages[i] ) == -1 ? false : true
                    //else
                    //  - var check = false
                    - var check = false
                    label(for=languages[i]).pure-checkbox= languages[i]
                      input(type='checkbox', name='language[]', value=languages[i], id=languages[i], checked = check)
                  - }

                  label user name
                  input(type='text', name='uName' required)

                  input(type='submit', value='Create Profile').pure-button.pure-button-primary


      +footer()

    script(src="static/formHandler.js")